
@font-face {
    font-family: Josefin;
    src: url(assets/JosefinSans-VariableFont_wght.ttf);
}

body {
    background-color: #d196f3;
}

.box {
    width: 45%;
    margin: auto;
    background: #dccfff;
    border: 2px solid #a893d8;
    box-shadow: #c2afee 5px 5px;
    border-radius: 10px;
}

.boxText {
    font-family:Josefin;
    margin-left:10px;
}
p.boxText {
    font-size:18px;
}

h1.boxText {
    font-size:25px;
}
.topnav {
    font-family: Josefin;
    background-color: #a893d8;
    overflow: hidden;
    box-shadow: #c2afee 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 0 20px; 
}

.topnav .left, .topnav .right {
    display: flex;
}

.topnav a {
    color: #f2f2f2;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav .right a:hover {
    background-color: #fcd4fa;
    color: black;
}


a {
    text-decoration: none;
}