@font-face {
    font-family: gomer;
    src: url(Simpsonfont\ DEMO.otf);
}

#gomer {
    position: absolute;
    left: 51%;
    transform: translate(-50%, 0%);
    background-color: transparent;
    border-color:transparent;
}

body {
    background-color:#FCD403;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: gomer;
}